
<div class="drag-container">
  <div class="container" >
    <h4>Pending</h4>
    <div class="list"

    cdkDropList (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="pending"
         [cdkDropListConnectedTo]="[deliversList, confirmedList]" #pendingList="cdkDropList">
         <div class="list-item" *ngFor="let item of pending" cdkDrag>
          <p>User Name: {{ item.userName }}</p>
          <p>Order ID: {{ item.orderId }}</p>
          <p>Total: {{ item.total }}</p>
        </div>

    </div>
  </div>

  <div class="container">
    <h4>confirming</h4>
    <div class="list"
     cdkDropList (cdkDropListDropped)="drop($event)"
     [cdkDropListData]="confirmed"
     [cdkDropListConnectedTo]="[pendingList, deliversList]"
      #confirmedList="cdkDropList">
      <div class="list-item" *ngFor="let item of confirmed" cdkDrag>
        <p>User Name: {{ item.userName }}</p>
          <p>Order ID: {{ item.orderId }}</p>
          <p>Total: {{ item.total }}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h4>delivering</h4>
    <div class="list" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="delivers"
         [cdkDropListConnectedTo]="[pendingList, confirmedList]" #deliversList="cdkDropList">
      <div class="list-item" *ngFor="let item of delivers" cdkDrag>
        <p>User Name: {{ item.userName }}</p>
          <p>Order ID: {{ item.orderId }}</p>
          <p>Total: {{ item.total }}</p>
      </div>
    </div>
  </div>





</div>