@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.about-section{
  background-color: #f9f4ef;
}

.about-section .content-column{
	position:relative;
	margin-bottom:40px;
}

.about-section .content-column .inner-column{
	position:relative;
}

.about-section .content-column .text{
	position:relative;
	color:#828787;
	font-size:14px;
	line-height:2em;
	margin-bottom:40px;
}
.elementor-icon-box-content{
  margin-left: 2%;
}

.elementor-icon-box-title span{
  font-size: 22px;
  color: #313232;
  font-family: 'Libre Baskerville', serif;
}

.elementor-icon-box-description{
  font-size: 14px;
  color: #828787;
}

.about-section .image-column{
	position:relative;
	margin-bottom:50px;
}

.about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	margin-left:50px;
}

.about-section .image-column .inner-column:after{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	left:40px;
	bottom:100px;
	z-index:-1;
}

.about-section .image-column .inner-column .image{
	position:relative;
}

.about-section .image-column .inner-column .image:before{
	position:absolute;
	content:'';
	left:-50px;
	bottom:-50px;
	width:299px;
	height:299px;
	/* background:url(img/pattern-2.png) no-repeat; */
}

.about-section .image-column .inner-column .image img{
	position:relative;
	width:100%;
	display:block;
}

.about-section .image-column .inner-column .image .overlay-box{
	position:absolute;
	left:40px;
	bottom:48px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
}

.about-section .image-column .inner-column .image .overlay-box .year-box .number{
	position:absolute;
	left:0px;
	top:0px;
	width:110px;
	height:110px;
	color:#d7a449;
	font-size:68px;
	font-weight:700;
	line-height:105px;
	text-align:center;
	background-color:#ffffff;
	border:1px solid #000000;
}
.about-section .btn-style-three:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    z-index: -1;
    right: -10px;
    bottom: -10px;
}

.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 40px;
}
.sec-title .title {
  font-size: 50px;
  line-height: 60px;
  font-family: 'Libre Baskerville', serif;
}

.sec-title span{
  font-style: italic;
}


.img-animation-2 .elementor-image img{
  animation: k 5s infinite alternate ease-in-out 0s none running;
}


.elementor-widget-image {
  position: relative;
  z-index: 1;
}

.elementor-absolute {
  position: absolute;
}

.elementor-absolute:nth-child(2) {
  /* transform: rotateY(50deg); */
  /* left: -20; */
  right: 0;
  left: -80px;
  margin-top: 18%;
  z-index: 2;
  opacity: 0.5;
}


.elementor-absolute:last-child {
  right: 0;
  left: -50px;
  margin-top: 10%;
  z-index: 3;
  opacity: 0.5;
}

@keyframes k {
  0% {
    transform: rotateY(15deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(15deg);
  }
}

.circular-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #224229;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-icon svg {
  height: 30px;
  width: 30px;
  fill: #fff;
}
.circular-icon:hover {
  animation: shake 0.4s linear;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}














