@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.header-sample-section {
  background-color: #f9f4ef;
}

.banner-wrapper{
  height: 100%;
  position: relative;
}

.banner-wrapper-infor {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 20px;
  font-size: 20px;
  color: #313232;
  font-family: 'Libre Baskerville', serif;
}

.middle-banner{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  font-size: 20px;
  color: #313232;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.title-banner {
  white-space: nowrap;
}


.title-banner span{
  font-style: italic;
}

.bwp-image:hover {
  animation: bounce 1s;
}


.banner-wrapper-infor a, .middle-banner a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #313232;
}

.banner-wrapper-infor a.button::before{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #313232;
  transition: transform 0.3s ease-out;
  transform-origin: left center;
}

.banner-wrapper-infor a.button:hover::before{
  transform: scaleX(0.5);
}



.middle-banner a.button::before{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #313232;
  transition: transform 0.3s ease-out;
}

.middle-banner a.button:hover::before{
  transform: translateX(-50%) scaleX(0.5);
}



@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-9px);
  }
  30% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(0);
  }
}

.banner-wrapper .bwp-image img {
  height: 250px;
  top: 100px;
  z-index: 1000000;
}









/************************************************************************************************************/



.about-section {
  background-color: #f9f4ef;
}

.about-section .content-column{
	position:relative;
	margin-bottom:40px;
}

.about-section .content-column .inner-column{
	position:relative;
}

.about-section .content-column .text{
	position:relative;
	color:#828787;
	font-size:14px;
	line-height:1.5em;
	margin-bottom:30px;
}


.elementor-icon-box-title span{
  font-size: 22px;
  color: #313232;
  font-family: 'Libre Baskerville', serif;
}

.elementor-icon-box-description{
  font-size: 14px;
  color: #828787;
}

.about-section .image-column{
	position:relative;
}

/* .about-section .image-column .inner-column{
	position:relative;
	padding:40px 40px 0px 0px;
	margin-left:50px;
} */

/* .about-section .image-column .inner-column:after{
	position:absolute;
	content:'';
	right:0px;
	top:100px;
	left:40px;
	bottom:100px;
	z-index:-1;
} */

.about-section .image-column .inner-column .image{
	position:relative;
}



.about-section .image-column .inner-column .image img{
	position:relative;
	width:100%;
	display:block;
}



.about-section .image-column .inner-column .image .overlay-box .year-box{
	position:relative;
	color:#252525;
	font-size:24px;
	font-weight:700;
	line-height:1.4em;
	padding-left:125px;
}


.sec-title2{
	color:#fff;
}
.sec-title {
    position: relative;
    padding-bottom: 25px;
}
.sec-title .title {
  font-size: 50px;
  line-height: 60px;
  font-family: 'Libre Baskerville', serif;
}

.sec-title span{
  font-style: italic;
}


.img-animation-2 .elementor-image img{
  animation: k 5s infinite alternate ease-in-out 0s none running;
}


.elementor-widget-image {
  position: relative;
  z-index: 1;
}

.elementor-absolute {
  position: absolute;
}

.elementor-absolute:nth-child(2) {
  right: 0;
  left: 60px;
  margin-top: 15%;
  z-index: 2;

}


.elementor-absolute:last-child {
  right: 0;
  top: -80;
  left: 80px;
  margin-top: 10%;
  z-index: 3;
}

@keyframes k {
  0% {
    transform: rotateY(20deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(20deg);
  }
}

.circular-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #224229;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-icon svg {
  height: 30px;
  width: 30px;
  fill: #fff;
}
.circular-icon:hover {
  animation: shake 0.4s linear;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1000px) {
  .elementor-absolute {
    position: relative;
  }

  .sec-title .title{
    font-size: 25px;
    line-height: 40px;
  }
  .elementor-element{
    padding: 0;
  }

  .elementor-image img{
    margin: auto 0;
    width: 100%;
    height: 90%;
    margin: 0 auto;
  }

  .banner-wrapper-infor {
    position: absolute;
    bottom: 2px;
    left: 0;
    padding: 20px;
    font-size: 15px;
    color: #313232;
    font-family: serif;
  }

  .middle-banner{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 15px;
    color: #313232;
    font-family: serif;
    text-align: center;
  }

  .banner-wrapper-infor a{
    font-size: 15px;
    font-weight: 400;
    color: #313232;
  }
  .banner-wrapper .bwp-image img {
    height: 200px;
  }
}

@media only screen and (min-width:1001px) and  (max-width: 1200px) {

  .sec-title .title{
    font-size: 28px;
    line-height: 35px;
  }

  .elementor-icon-box-title span{
    font-size: 20px;
    color: #313232;
    font-family: 'Libre Baskerville', serif;
  }

  .elementor-icon-box-description{
    font-size: 15px;
    color: #828787;
  }

  .elementor-image img{
    margin: 2% 0;
    width: 100%;
    height: 85%;
    margin: 0 auto;
  }
  .banner-wrapper-infor {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 20px;
    font-size: 15px;
    color: #313232;
    font-family: 'Libre Baskerville', serif;
  }

  .middle-banner{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 15px;
    color: #313232;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
  }

  .banner-wrapper-infor a{
    font-size: 12px;
    font-weight: 400;
    color: #313232;
  }
  .banner-wrapper .bwp-image img {
    height: 200px;
  }
}

@media only screen and (min-width:768px) and (max-width: 1000px) {
  .elementor-absolute {
    position: relative;
  }

  .sec-title .title{
    font-size: 27px;
    line-height: 40px;
  }
  .elementor-element{
    padding: 0;
  }
  .elementor-widget-container{
    display: flex;
    justify-content: center;
  }

 .elementor-image img{
    width: 100%;
    height: 70%;
    margin: 10% auto;
  }
  .circular-icon{
    width: 80px;
    height: 75px;
    margin-bottom: 10%;
  }
}



@media  screen and (max-width:767.5px) {
  .elementor-icon-box-title span{
    font-size: 20px;
    color: #313232;
    font-family: 'Libre Baskerville', serif;
  }

  .elementor-icon-box-description{
    font-size: 15px;
    color: #828787;
  }
  .sec-title .title{
    font-size: 25px;
    line-height: 40px;
  }
  .circular-icon{
    margin: 0 auto;
    width: 90px;
    height: 90px;
  }
  .elementor-icon-box-wrappe{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .elementor-image img{
    width: 100%;
    height: 100%;
  }
  .banner-wrapper .bwp-image img {
    height: 350px;
  }
}







































