<div class="container" id="container">
  <div class="form-container sign-up">
    <form>
      <h1>Create Account</h1>
      <div class="social-wrapper">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <input type="text" name="name" placeholder="Name">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="button">Sign Up</button>
    </form>
  </div>

  <div class="form-container sign-in">
    <form>
      <h1>Sign In</h1>
      <div class="social-wrapper">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <input type="email" name="email" placeholder="Your Email">
      <input type="password" name="password" placeholder="Your Password">
      <a href="#">Forgot Your Password?</a>
      <button type="button">Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel panel-left">
        <h2>Welcome back</h2>
        <p>To keep connected with us please login with your personal info.</p>
        <button id="sign-in-btn" class="btn">Sign In</button>
      </div>

      <div class="overlay-panel panel-right">
        <h2>Hello Friend</h2>
        <p>Enter your personal details and start journey with us.</p>
        <button id="sign-up-btn" class="btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>
