<section class="mt-0">
  <div class="header p-0">
    <div class="container">
      <div class="content-title-heading">
        <h1 class="">Shop</h1>
      </div>
      <div class="subcategorie-content w-75 mx-auto">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://images.freeimages.com/images/previews/ac9/railway-hdr-1361893.jpg" class="d-block w-100"
                alt="" height="100">
            </div>
            <div class="carousel-item">
              <img src="https://images.freeimages.com/images/previews/ac9/railway-hdr-1361893.jpg" class="d-block w-100"
                alt="" height="100">
            </div>
            <div class="carousel-item">
              <img src="https://images.freeimages.com/images/previews/ac9/railway-hdr-1361893.jpg" class="d-block w-100"
                alt="" height="100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>