#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Update left to right */
  z-index: 100;
  border: 0.5 solid black;
  background-color: white;
}

#scroll-to-top i {
  font-size: 24px;
  color: black;
  padding: 5px;
}
