<div class="contact-container d-flex justify-content-center my-5">
  <div class="container contact col-8" id="contact-container">
    <div class="form-container map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3412.6991302446904!2d29.901013600000002!3d31.2013546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c3f26558d5b5%3A0xebba6805cd2d2062!2sEl%20Raml%20Station!5e0!3m2!1sen!2seg!4v1683413324784!5m2!1sen!2seg"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        aria-label="El Raml Station, Alexandria, Egypt"
        style="width:100%;height:75vh"
      ></iframe>
    </div>

    <div class="form-container contact-form col-12 col-md-6">
      <h2 class="contact-form-title my-1 mb-4">Contact Us</h2>
      <form>
        <input type="text" class="field" placeholder="Enter Your Name" />
        <input type="text" class="field" placeholder="Enter Your Email" />
        <input type="text" class="field" placeholder="Enter Your Phone" />
        <textarea placeholder="Message" class="field"></textarea>
        <button class="btn">Send your message</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel panel-left">
          <h4 class="contact-title my-5 text-center">QUICK CONTACTS</h4>
          <div class="mx-5 my-5">
            <i class="fas fa-map-marker-alt" style="font-size: 24px"></i>
            <span class="fs-5 mx-2 fw-bold">Location</span>
            <div class="mx-4"><i>El Raml Station, Alexandria, Egypt</i></div>
          </div>
          <div class="mx-5 my-5">
            <i class="fas fa-phone-volume" style="font-size: 24px"></i>
            <span class="fs-5 mx-2 fw-bold">Phone</span>
            <div class="mx-4"><i>(+20)1005551550</i></div>
          </div>
          <div class="mx-5 my-5">
            <i class="fas fa-at" style="font-size: 22px"></i>
            <span class="fs-5 mx-2 fw-bold">Email</span>
            <div class="mx-4"><i>flacio@gmail.com</i></div>
          </div>
          <a id="map-btn" class="btn bg-transparent border-white"
            >Discover Our Location</a
          >
        </div>

        <div class="overlay-panel panel-right">
          <div
            class="d-flex flex-column justify-content-center align-items-center text-center h-100"
          >
            <div
              class="icon fa fa fa-envelope mt-4"
              id="form-container-icon"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
