.filter-homepage .filter-heading {
  vertical-align: top;
  overflow: hidden;
}

.filter-orderby a{
  text-decoration: none;
  font-size: xx-large;
  font-style: italic;
  color: #828787;
}

.filter-orderby a:hover{
  color:black;
}

.active{
  color:black !important;
}
