<div class="container-fluid">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">



      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
        <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
      </ng-container>


      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
        <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
      </ng-container>



      <ng-container matColumnDef="itemsinStock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> itemsinStock </th>
        <td mat-cell *matCellDef="let element"> {{element.itemsinStock}} </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action" class="action-container">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
          <button class="copy" (click)="deleteElement(element)">
            <i class="bi bi-trash"></i>
          </button>

          <button class="copy" (click)="editElement(element)">
            <i class="bi bi-pen"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]="true" [length]="dataSource.data.length"></mat-paginator>

  </div>
</div>

