<div class="container-fluid">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
        <td mat-cell *matCellDef="let element">{{ element.rate }}</td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
        <td mat-cell *matCellDef="let element">{{ element.discount }}</td>
      </ng-container>

      <ng-container matColumnDef="itemsinStock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>itemsinStock</th>
        <td mat-cell *matCellDef="let element">{{ element.itemsinStock }}</td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action" class="action-container">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <button class="copy" (click)="deleteElement(element)">
            <i class="bi bi-trash"></i>
          </button>

          <button
            class="copy"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            (click)="editElement(element)"
          >
            <i class="bi bi-pen"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[7, 25, 50, 100]"
      [pageSize]="7"
      [showFirstLastButtons]="true"
      [length]="dataSource.data.length"
    ></mat-paginator>
  </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="editModal">
  <div
    class="modal-dialog modal-confirm modal-dialog-centered modal-md my-auto"
  >
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex flex-column justify-content-center w-100">
          <div class="icon-box text-center">
            <img src="./assets/images/icons/usericon.gif" />
          </div>
          <h4 class="modal-title">Update Product</h4>
        </div>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="col-12 d-flex justify-content-between flex-wrap">
            <div class="form-group my-2 col-12">
              <input
                  type="text"
                  class="form-control w-100"
                  name="productName"
                  placeholder="Product Name"
                  formControlName="productName"
                  autocomplete="off"
                />
            </div>
            <div class="form-group my-2 col-12">
              <label>Product Description</label>
              <textarea
                  type="text"
                  class="form-control"
                  name="productDesc"
                  placeholder="Product Description"
                  formControlName="productDesc"
                  rows="3"
                  autocomplete="off"
                >
              </textarea>
            </div>
            <div class="form-group my-2 col-2">
              <input
                  type="number"
                  class="form-control w-100"
                  name="productPrice"
                  placeholder="Price"
                  formControlName="productPrice"
                  autocomplete="off"
                />
            </div>
            <div class="form-group my-2 col-3">
              <input
                  type="number"
                  class="form-control w-100"
                  name="productDiscount"
                  placeholder="Discount"
                  formControlName="productDiscount"
                  autocomplete="off"
                />
            </div>
            <div class="form-group my-2 col-6">
              <input
                  type="number"
                  class="form-control w-100"
                  name="productItemsInStock"
                  placeholder="No. of Items in Stock"
                  formControlName="productItemsInStock"
                  autocomplete="off"
                />
            </div>
            <div class="form-group my-2 col-12">
              <label
                >Category
                <i class="fw-light text-secondary">
                  (Hint: You can Choose Multiple Ones)
                </i></label
              >
              <div>
                <select multiple class="selectpicker form-control">
                  <option value="Indoor Plants">Indoor Plants</option>
                  <option value="Ceramic Pots">Ceramic Pots</option>
                  <option value="Low Maintenance">Low Maintenance</option>
                  <option value="Plant Bundle">Plant Bundle</option>
                  <option value="Air Purifying">Air Purifying</option>
                </select>
              </div>
            </div>
            <div class="form-group my-2 col-12">
              <label
                >Images
                <i class="fw-light text-secondary">
                  (Hint: You can Choose Multiple Ones)
                </i></label
              >
              <input
                  type="file"
                  class="form-control w-100"
                  name="productImages"
                  formControlName="productImages"
                  multiple
                />
            </div>
          </div>

          <div class="d-flex justify-content-end my-3">
            <button class="btn btn-light border" data-bs-dismiss="modal">
              Cancel
            </button>
            <button class="btn btn-info submit-btn" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
