<header>
  <!-- Navbar -->
  <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-scroll d-flex align-items-baseline" id="nav">
    <div class="container-fluid ">
      <a class="navbar-brand " href="#!">flacio</a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex gap-3 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#!">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">CONTACT US</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row gap-3">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fa-solid fa-user"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fa-solid fa-heart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!--Section: Design Block-->
  <section>
    <div id="intro" class="bg-image" style="
        background-image: url('https://mdbootstrap.com/img/Photos/new-templates/craftsman/img(1).jpg');
        height: 100vh;
      ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container d-flex justify-content-center align-items-center h-100">
          <div class="row align-items-center">
            <div class="col-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Design Block-->
</header>

 <main>
   <div class="container my-5 py-5"></div>
</main>
