

<!-- Navbar -->

<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-scroll d-flex ">
  <div class="container-fluid">
    <div class="d-flex align-items-start ms-3 ">
      <button class="navbar-toggler ms-auto mx-4" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0 d-flex gap-3">
          <li class="nav-item" >
            <a class="nav-link " routerLinkActive="active" routerLink="" >HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="navbar-brand mx-auto ms-auto title" href="#!">flacio</a>
    <ul class="navbar-nav d-flex flex-row gap-3 ms-auto align-items-end">
      <li class="nav-item me-lg-0">
        <a class="nav-link" href="#!">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>
      <li class="nav-item me-lg-0">
        <a class="nav-link" href="#!">
          <i class="fa-solid fa-user"></i>
        </a>
      </li>
      <li class="nav-item me-lg-0">
        <a class="nav-link" href="#!">
          <i class="fa-solid fa-heart"></i>
        </a>
      </li>
      <li class="nav-item me-lg-0">
        <a class="nav-link" href="#!">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

