/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #828787;
  text-align: left;
}
.text-line-through {
  text-decoration: line-through;
}
