<div class="sign-container">
  <div class="container" id="container">
    <div class="form-container sign-in">
      <form>
        <h1>Sign In</h1>
        <div class="social-wrapper">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <input type="email" name="email" placeholder="Your Email" />
        <input type="password" name="password" placeholder="Your Password" />
        <a href="#">Forgot Your Password?</a>
        <button type="button">Sign In</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel panel-right">
          <h2>Hello Friend</h2>
          <p>Enter your personal details and start journey with us.</p>
          <a id="sign-up-btn" class="btn" routerLinkActive="active" routerLink="/register">Sign Up</a>
        </div>
      </div>
    </div>

  </div>
</div>