.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #3c5742;
  --c-primary-20-percent-opacity: #3c5742bc;
  --c-primary-10-percent-opacity: #3c5742bc;
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(.11,.29,.18,.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}





/* --------------------------------- */
.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}


h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 14px;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

i{
  color: #fff;
}

span {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

input {
  /* margin: 10px auto;
  padding: 10px 16px;
  width: 100%;
  font-size: 1rem;
  background-color: #eaeaea;
  color: #000;
  border: none; */

  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #628665;
  color: #fff;
  border: 1px solid #628665;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

button:hover{
  background-color: #537355;
}

button:active {
  transform: scale(0.92);
}

.btn {
  padding: 15px 25px;
  border: 3px solid #547156;
}

.sign-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sign-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url(https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/slider-10-4.jpg); */
  background-image: url(https://i.pinimg.com/564x/9c/78/70/9c787043ea585082c2d9ceb11e61ccb4.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(3px); /* Adjust the blur amount as desired */
  z-index: -1;
}

.container {
  position: relative;
  min-height: 500px;
  max-width: 800px;
  width: 90%;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 14px 30px #00000020, 0 6px 10px #00000022;
  overflow: hidden;
  margin: 8.5% auto;

}

.social-wrapper {
  margin: 12px 0;
}

.social-wrapper a {
  margin: 0 5px;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #628665;
  border-radius: 50%;
  background-color: #628665;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-image:url("https://wpbingosite.com/wordpress/flacio/wp-content/uploads/2021/12/background-2.jpg");
  transition: 0.6s ease;
  min-height:450px;
}

.sign-in {
  z-index: 999;
}


.form-container form {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  height: 100%;
  width: 50%;
  overflow: hidden;
  transition: transform 0.6s ease;
}

.overlay {
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #3c5742, #749d77);
  color: #fff;
  transform: translateX(0);
  transition: transform 0.6s ease;
}

.overlay-panel {
  padding: 0 40px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.6s ease;
}


.panel-right {
  left: 50%;
  transform: translateX(0);
}


a{
  text-decoration: none;
  border: none;
}

@media (max-width: 900px) {
  .container {
    margin: 20px auto;
    min-height: 760px;
  }

  .form-container {
    height: 50%;
    width: 100%;
  }

  .overlay-container {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }

  .overlay {
    top: -100%;
    left: 0;
    height: 200%;
    width: 100%;
    background: linear-gradient(to right, #3c5742, #79c17f);
    transform: translateY(0);
  }

  .overlay-panel {
    left: 0;
    height: 50%;
    width: 100%;
  }


  .panel-right {
    top: 50%;
    transform: translateY(0);
  }

}