<div class="header-wrapper">
  <!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->
  <!-- <ngx-spinner type="Ball Spin Fade Rotating ">
    <div style="color: #79bbb5" class="la-ball-spin-fade-rotating la-2x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ngx-spinner> -->
  
  <app-header></app-header>
  <app-banners></app-banners>
</div>
<app-about></app-about>
<app-sample-products></app-sample-products>
<app-review></app-review>
<app-support></app-support>
<app-scroll-top></app-scroll-top>

